


<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Add Widget</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="/widgets">Widgets</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Widget</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <!-- <div class="row"> -->
    
    <!-- <div class="col-xl-8 order-xl-1"> -->
      <div class="card">
        <div class="card-body">
          <form method="POST">
            <h6 class="heading-small text-muted mb-4">Add Your Widget</h6>
            <div class="pl-lg-4 mb-4">
              <div class="row">
                <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="appName">Application Name</label>
                    <input type="text" id="appName" class="form-control" placeholder="ex: Smart City" name="appName">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="appId">Application ID</label>
                    <input type="text" id="appId" class="form-control" placeholder="ex: SmartCity-01" name="appId">
                  </div>
                </div>
              </div> -->
              <div class="col-lg-12 mb-4">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary btn-lg">
                  <i class="ni ni-sound-wave text-yellow"></i>
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Line Chart
                </label>
                <label class="btn btn-primary btn-lg">
                  <i class="ni ni-sound-wave text-yellow"></i>
                  <input type="radio" name="options" id="option2" autocomplete="off"> Double Axis
                </label>
                <label class="btn btn-primary btn-lg">
                  <i class="ni ni-sound-wave text-yellow"></i>
                  <input type="radio" name="options" id="option3" autocomplete="off"> Scatter Plot
                </label>
              </div>
              </div>

              <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Application</label>
                <select name="inputApplication" class="form-control" id="inputApplication" >
                <option value="" selected disabled>Choose Application</option>
                  <!-- <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option> -->
                </select>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Device</label>
                <select name="inputDevice" class="form-control" id="inputDevice">
                  <option value="" selected disabled>Choose Device</option>
                  <!-- <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option> -->
                </select>
              </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Data</label>
                  <select name="inputData" class="form-control" id="inputData">
                    <option value="" selected disabled>Choose Data</option>
                    <!-- <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option> -->
                  </select>
                </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
            <!-- <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Time</th>
                    <th scope="col" class="sort" data-sort="name">Data</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
            <% for(var i=0; i < datas.length; i++) { %>
               
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm"><%= new Date(datas[i].timestamp) %></span>
                    </div>
                  </div>
                </th>                 
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm"><%= JSON.stringify(datas[i].appName);%></span>
                    </div>
                  </div>
                </th>
              </tr>

        <% } %>
      </tbody>
    </table>
  </div> -->
          <!-- <a href="" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Add</a> -->
          </form>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
//   var option = [
//     {
//         "mod": "Width",
//         "values": {
//             "field": "A",
//             "value": "96"
//         }
//     },
//     {
//         "mod": "Height",
//         "values": {
//             "field": "B",
//             "value": "33"
//         }
//     }
// ]

//   $("#inputApplication").append($.map(option, function(o) {
//     return $('<option/>', {
//       value: o.values.value,
//       text: o.values.field
//     });
//   }));

// $('#Assign').hide(); // first hide it so they cannot see it
// $(document).on('change', '#Reg', function(e){
//     if($(this).val()=='admin'){
//         $('#Assign').show();
//     }else{
//         $('#Assign').val('').hide();
//     }
// })

  $(document).ready(function () 
{

	$.ajax({
		url : 'http://localhost:5000/applications',
		type : 'GET',  
    headers: {
    "Authorization": "Bearer " + "<%= access_token %>"
    },
		dataType : 'json',
		success:function(data)
		{

    $("#inputApplication").empty();
    $("#inputApplication").append('<option value="" selected disabled>Choose Application</option>');
      $.each(data, function(i, value) {
            $('#inputApplication').append('<option value=' + value.appId + '>' + value.appId + '</option>');
        });
		}
	});
});

$('#inputApplication').on('change', function() {
  console.log('http://localhost:5000/devices/'+ this.value);

  
  $.ajax({
		url : 'http://localhost:5000/devices/'+ this.value,
		type : 'GET',  
    headers: {
    "Authorization": "Bearer " + "<%= access_token %>"
    },
		dataType : 'json',
		success:function(data)
		{
      $("#inputDevice").empty();
      $("#inputDevice").append('<option value="" selected disabled>Choose Device</option>');
			$.each(data, function(key,value){
				$("#inputDevice").append('<option value="'+ value.deviceName +'">'+ value.deviceName +'</option>');
			});
		}
	});
});


$('#inputDevice').on('change', function() {
  console.log('http://localhost:5000/devices/'+$('#inputApplication').val()+ this.value);

  $.ajax({
		url : 'http://localhost:5000/'+$('#inputApplication').val()+'/'+ this.value,
		type : 'GET',  
    headers: {
    "Authorization": "Bearer " + "<%= access_token %>"
    },
		dataType : 'json',
		success:function(data)
		{
      // $("#inputDevice").empty()
      $("#inputData").empty();
      $("#inputData").append('<option value="" selected disabled>Choose Data</option>');
			$.each(data[0].datas[0].data, function(key,value){
        // myMap.set(Object.keys(value.data)[0], Object.values(value.data)[i])
        // set.add(Object.keys(value.data));
        // console.log(key,value);
        // console.log(Object.keys(value.data)[0])
        // uniqueArray = Array.from(uniqueSet).map(JSON.parse);
        // i=i+1
				$("#inputData").append('<option value="'+ key +'">'+ key +'</option>');
			});
        // console.log(set);
      // myMap.forEach((_,key) => console.log(key));
      // console.log(myMap)
      
		}
	});
});

// $(document).ready(function () 
// {
//   // var e = document.getElementById("inputApplication");
//   // var val = e.options[e.selectedIndex].value;

// console.log('http://localhost:5000/devices/'+$("#inputApplication :selected").text());
  
// });
</script>