<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Device Detail</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/applications">Applications</a></li>
                <li class="breadcrumb-item"><a href="/applications/<%= appId %>"><%= appId %></a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= deviceName %></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">

            <!-- <a class="btn btn-neutral" href="#">
              <i class="fas fa-wifi text-primary"></i>
              <span class="nav-link-text">Subscribe</span>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <div class="row">
              <h2 class="ml-4 col"><%= deviceName %></h2>
              <!-- <h2 class="ml-4 col"> "data2"<%= data%></h2> -->
              <!-- <button type="button" class="btn btn-primary mr-4" >Set LoraWan</button> -->
              <% if (data == false) { %>
              <a class="btn btn-warning mr-4" href="/applications/<%= appId %>/device/<%= deviceName %>/set-lora">
                <i class="fas fa-wifi text-white"></i>
                <span class="nav-link-text">Set LoraWAN</span>
              </a>
              <%} else { %>
                <a class="btn btn-warning mr-4" href="/applications/<%= appId %>/device/<%= deviceName %>/unset-lora">
                  <i class="fas fa-wifi text-white"></i>
                  <span class="nav-link-text">Unset LoraWAN</span>
                </a>
              <%}%>
            </div>

          </div>
          <div class="card-body border-1">
            <h4 class="ml-4">URI Device:</h4>
            <div class="row">
              <div class="row col">
                <input type=text id="copyText" style="background:transparent; color: black; max-width: 950px;" readonly value=" http://143.244.150.6/applications/<%= appId %>/device/<%= deviceName %>" class="form-control no-border mb-4 ml-4 "></input>
                <button type="button" id="copyBtn" class="btn btn-neutral mb-4 ml-4" >Copy</button>
              </div>
              <button type="button" class="btn btn-neutral mr-4" style="max-height: 45px;" data-toggle="collapse" data-target="#lala">Show / Hide Graph</button>
            </div>
            <div id="lala" class="vote-result-wrapper collapse show">
              <canvas id="vote-result" class="collapse" width="200" height="50"></canvas>
           </div>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table id='myTable' class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Time</th>
                  <th scope="col" class="sort" data-sort="name">Data</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
               
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                      </div>
                    </div>
                  </th>                 
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                      </div>
                    </div>
                  </th>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table -->
    
  </div>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  
  <script>
  // Setting socket
  var data;
  var myChart;
  var context;
  var socket = io();
  var deviceName = '<%- deviceName %>'
  
  socket.on(deviceName, function (response) {
     var i = 0;
    
     $(myTable).find('tbody').empty()
      for (var key in response) {
        data.labels[i] = new Date(response[i].timestamp).toLocaleTimeString();
        data.datasets[0].data[i] = Object.values(response[i].data)[0];
        
         
        $(myTable).find('tbody').append("<tr><td>"+data.labels[i]+"</td><td>"+JSON.stringify(response[i].data, null, '\t')+"</td</tr>");
        i++;

     }
    response = null;
    console.log(data)
      // Update chart
      // $(myTable).update();

     myChart.update(); 
    //  socket.close()
  });

  // socket.close()
  
  // Chart Data
  data = {
     labels: [],
     datasets: [
          {
              label: [],
              data: [],
          }
      ]
  };
  
  context = document.getElementById('vote-result').getContext('2d');
  myChart = new Chart(context,{
     type: 'line',
     data: data,
     animation:{ 
        animateScale:true
     }
  });
  
  </script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    const copyBtn = document.getElementById('copyBtn')
    const copyText = document.getElementById('copyText')
    
    copyBtn.onclick = () => {
        copyText.select();    // Selects the text inside the input
        document.execCommand('copy');    // Simply copies the selected text to clipboard 
         Swal.fire({         //displays a pop up with sweetalert
            icon: 'success',
            title: 'Text copied to clipboard',
            showConfirmButton: false,
            timer: 1000
        });
    }
</script>
