<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Device Detail</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/applications">Applications</a></li>
                <li class="breadcrumb-item"><a href="/applications/<%= appId %>"><%= appId %></a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= deviceName %></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">

            <!-- <a class="btn btn-neutral" href="#">
              <i class="fas fa-wifi text-primary"></i>
              <span class="nav-link-text">Subscribe</span>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h2 class="mb-0"><%= deviceName %></h2>
          </div>
          <div class="card-body border-1">
            <h5 class="mb-0">URI Device: http://143.244.150.6/applications/<%= appId %>/device/<%= deviceName %></h5>
            <div class="vote-result-wrapper">
              <canvas id="vote-result"></canvas>
           </div>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Time</th>
                  <th scope="col" class="sort" data-sort="name">Data</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <% for(var i=0; i < datas.length; i++) { %>
               
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm"><%= new Date(datas[i].timestamp) %></span>
                      </div>
                    </div>
                  </th>                 
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm"><%= JSON.stringify(datas[i].data);%></span>
                      </div>
                    </div>
                  </th>
                </tr>

          <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table -->
    
  </div>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  
  <script>
  // Setting socket
  var data;
  var myChart;
  var context;
  var socket = io();
  var deviceName = '<%- deviceName %>'
  
  socket.on(deviceName, function (response) {
  
     var i = 0;
  
      for (var key in response) {
        data.labels[i] = new Date(response[i].timestamp).toLocaleTimeString();
        data.datasets[0].data[i] = Object.values(response[i].data)[0];
        i++;
     }

     
      // Update chart
     myChart.update(); 
  });
  
  // Chart Data
  data = {
     labels: [],
     datasets: [
          {
              label: [],
              data: [],
          }
      ]
  };
  
  context = document.getElementById('vote-result').getContext('2d');
  myChart = new Chart(context,{
     type: 'line',
     data: data,
     animation:{ 
        animateScale:true
     }
  });
  
  </script>