<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Widgets</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Components</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Widgets</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">

            <!-- <a class="btn btn-neutral" href="#">
              <i class="fas fa-wifi text-primary"></i>
              <span class="nav-link-text">Subscribe</span>
            </a> -->
            <a class="btn btn-neutral" href="/widgets/add-widget">
              <i class="fas fa-plus text-primary"></i>
              <span class="nav-link-text">Add Widgets</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class=" col ">
        <div class="card">
          <!-- <div class="row"> -->
            <div class="card-header bg-transparent">
              <h2 class="mb-0 ml-4">Your Widgets: </h2>
            </div>
            <!-- <div class="row col-lg-10 mb-3 mt-3 text-right ">
              <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </form>
              <a href="#" class="btn btn-neutral">
                <i class="fas fa-filter"></i>
                <span>Filter</span>
              </a>
            </div> -->
          <!-- </div> -->
          
          <div class="card-body" id="card-body" name=card-body">
            <!-- <div class="row "> -->
              <!-- <% for(var i=0; i < datas.length; i++) { %>
                    <a href="/applications/<%= datas[i].appId %> " class= "col-lg-3 col-md-6 mb-3 mr-3 ml-3 btn btn-neutral text-left" >
                      <div class ="card-stats mt-4">
                          <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0"><%= datas[i].datax %></h5>
                                <span><%= datas[i].appId %></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                                  <i class="ni ni-spaceship"></i>
                              </div>
                            </div>
                        </div>
                      </div>
                  </a>
              <% } %> -->

            <!-- <div class="vote-result-wrapper"> -->
              <!-- <canvas id="vote-result"></canvas> -->
           <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  
  <script>
  // Setting socket

  var datass = [];
  var host = '<%= host %>';
  var tokenType = '<%= tokenType %>';
  var accessToken = '<%= accessToken %>';
  var datas = JSON.parse('<%- JSON.stringify(datas) %>');
  // var datass = JSON.parse(datas)
  var myChart = [];
  var context;
  var socket = io();


  
  // socket.on("widget", function (response) {
  //    var i = 0;
    
  //   //  $(myTable).find('tbody').empty()
  //     for (var key in response) {
  //       // data.labels[i] = new Date(response[i].timestamp).toLocaleTimeString();
  //       // data.datasets[0].data[i] = Object.values(response[i].data)[0];

  //       console.log(response)
  //       // showModalChart(Object.values(response[i].data)[0]);
         
  //       // $(myTable).find('tbody').append("<tr><td>"+data.labels[i]+"</td><td>"+JSON.stringify(response[i].data)+"</td</tr>");
  //       i++;

  //    }
  //   response = null;
  //   console.log(data)
  //     // Update chart
  //     // $(myTable).update();

  //   //  myChart.update(); 
  //   //  socket.close()
  // });

  // socket.close()
  
  // showModalChart(data);
  // Chart Data
  // data = {
  //    labels: [],
  //    datasets: [
  //         {
  //             label: [],
  //             data: [],
  //         }
  //     ]
  // };
  
  // context = document.getElementById('vote-result').getContext('2d');
  // myChart = new Chart(context,
  // {
  //    type: 'line',
  //    data: data,
  //    animation:{ 
  //       animateScale:true
  //    }
  // });
  for(var j=0; j < datas.length; j++) {
      console.log(datas[j].deviceName)
  // }

  var data = {
     labels: [],
     datasets: [
          {
              label: [],
              data: [],
          }
      ]
  };
  // socket.on(datas[j].deviceName, function (response) {
  // // socket.on("CoffeMachine2", function (response) {
    
  //   //  $(myTable).find('tbody').empty()
  //       var i =0;
  //     for (var key in response) {

    // getapi(host+":5000/"+datas[j].appId+"/"+datas[j].deviceName, j)
    var lala = httpGet(host+":5000/"+datas[j].appId+"/"+datas[j].deviceName, j)
    // console.log(host+":5000/"+datas[j].appId+"/"+datas[j].deviceName);
    // console.log("lala:"+lala)
  //       // showModalChart(Object.values(response[i].data)[0]);
  var json = JSON.parse(lala)
  // console.log("lala2:"+JSON.stringify(json[0]))
  //       // $(myTable).find('tbody').append("<tr><td>"+data.labels[i]+"</td><td>"+JSON.stringify(response[i].data)+"</td</tr>");
  //       i++;

    for(var i=0; i < json[0].datas.length; i++) {
        // console.log("lala: " , i)
  //       data.labels[i] = new Date(response[i].timestamp).toLocaleTimeString();
  
        data.labels[i] = new Date(json[0].datas[i].timestamp).toLocaleTimeString();
        // data.datasets[0].data[i] = Object.values(response[i].data)[0];
        data.datasets[0].data[i] = Object.values(json[0].datas[i].data)[0];

    }


    // console.log(data);
    datass.push(data);
    showModalChart(datass[j],j,datas[j]);
    // return result
    // show(data);
  //    }
  //   // response = null;
  //   // console.log(data)
  //     // Update chart
  //     // $(myTable).update();
  //   //  myChart[j].update(); 
  //   //  socket.close()
  // console.log(j)
  // });

  // datass.push(data)
  // console.log("didi",datass[j])
  // showModalChart(datass[j],j);

  console.log("didi",datass[j]);
  }

  function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.setRequestHeader('Authorization', tokenType + ' ' + accessToken);
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
  // console.log(datas)
  
  async function getapi(url, j) {
    
    
    // Storing response
    const response = await fetch(url, {
    method: 'GET', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      // 'Content-Type': 'application/json',
      'Authorization': tokenType + ' ' + accessToken,
      'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    // body: JSON.stringify(data) // body data type must m atch "Content-Type" header
  })    .then(function(response){
         // response is a json string
        return response.json();// convert it to a pure JavaScript object
    })
    
  //   // Storing data in form of JSON
  //   var result = await response.json();
  //   // console.log(result);
  //   // if (response) {
  //   //     // hideloader(); 
  //   // }
    
  //   var json = JSON.parse(JSON.stringify(result))
  //   console.log(json[0].datas);

  //   for(var i=0; i < json[0].datas.length; i++) {
  //       // console.log("lala: " , i)
  // //       data.labels[i] = new Date(response[i].timestamp).toLocaleTimeString();
  
  //       data.labels[i] = new Date(json[0].datas[i].timestamp).toLocaleTimeString();
  //       // data.datasets[0].data[i] = Object.values(response[i].data)[0];
  //       data.datasets[0].data[i] = Object.values(json[0].datas[i].data)[0];

  //   }
  //   console.log(data);
  //   datass.push(data);
    // showModalChart(datass[0],j);
    // return result
    // show(data);
}

  function showModalChart(data,j,datas) {
    var canvasElement = document.createElement("canvas");
    // canvasElement.width = "10";
    // canvasElement.setAttribute("height", "10")
    // canvasElement.setAttribute("width",  "10");
    // console.log(canvasElement.getAttribute("height");
    // canvasElement.setAttribute("height", "100");
    canvasElement.height = "200"; 
    canvasElement.width = "750";
    var header = document.createElement("header"),
    h4 = document.createElement("h4");

    h4.textContent = datas.deviceName;
    header.appendChild(h4);
    document.getElementById("card-body").appendChild(header);
    document.getElementById("card-body").appendChild(canvasElement);

    console.log("tesssssss####")
    console.log(data)
    var ctx = document.getElementsByTagName("canvas")[j];
    // $('#myModal').off('.modalchart').on('shown.bs.modal.modalchart', function () {
    chart = new Chart(ctx.getContext('2d'),   {
     type: datas.type,
     data: data,
     animation:{ 
        animateScale:true
     }
    // });
    });
    myChart.push(chart)
};

  </script> 